# dependencies
node_modules
.pnp
.pnp.*

# testing
coverage

# production
build

# env
.env
.env.*

# logs
logs
*.log
pnpm-debug.log*
.pnpm-debug.log*

# ide
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# typescript
*.tsbuildinfo

# react-router
.react-router

# netlify
.netlify

# misc
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pem
